# IntelliJ
/.idea/
*.iml

# Maven
/target/
*.class
*.jar
*.war
*.ear
*.db

# Allure results
/allure-results/

## node
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

.env
.env.example
# Logs
*.log

# Sistema operacional
.DS_Store
Thumbs.db